.job {
  background-color: var(--main-background-color);
  padding-bottom: 94px;
}

.job-list {
  display: flex;
  .job-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.job-title {
  margin-bottom: 50px;

  font-family: inherit;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.job-list__item {
  position: relative;
}

.job-title-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}
