.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(48, 48, 48, 0.499);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  &:hover {
    fill: var(--accent-color);
  }
}

.modal-header {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-field {
  margin-bottom: 10px;
}

.modal-label {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--item-color);
  display: block;
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  &::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-agree {
  padding-left: 17px;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
}

.policy-text {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--item-color);
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 7px;
  }
}

.modal-checkbox:checked + .policy-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/check.svg);
}

.policy-text-link {
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
}

.modal-button {
  margin-top: 30px;
  margin-left: 125px;
  text-align: center;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
